<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" metadata-complete="true"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>52°North Sensor Event Service</display-name>
	<servlet>
		<display-name>52°North Sensor Event Service Mini Servlet</display-name>
		<servlet-name>SESServlet</servlet-name>
		<servlet-class>org.n52.ses.common.environment.SESMiniServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<display-name>SES Startup init</display-name>
		<servlet-name>ses-startup</servlet-name>
		<servlet-class>org.n52.ses.startupinit.StartupInitServlet</servlet-class>
		<load-on-startup>99</load-on-startup>
	</servlet>

	<servlet>
		<display-name>SES Config</display-name>
		<servlet-name>ses-config</servlet-name>
		<servlet-class>org.n52.ses.common.ServiceConfigurationServlet</servlet-class>
		<load-on-startup>98</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SESServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ses-startup</servlet-name>
		<url-pattern>/startup</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ses-config</servlet-name>
		<url-pattern>/config/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<display-name>login-secured config page</display-name>
		<web-resource-collection>
			<web-resource-name>config page</web-resource-name>
			<url-pattern>/config/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ses-admins</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>


	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

	<security-role>
		<role-name>ses-admins</role-name>
		<role-name>admin</role-name>
	</security-role>
</web-app>
